SQLALCHEMY_DATABASE_URL = "postgresql+psycopg2://<USER>:<YOUR_PASSWORD>@localhost/gradeops_db"
SECRET_KEY = "generate-a-random-secret-string-here"
COOKIE_SECURE = "false"
ACCESS_TOKEN_EXPIRE_MINUTES = 60
OPENROUTER_API_KEY = "your-openrouter-api-key"
GOOGLE_API_KEY = "your-google-gemini-api-key"